/* Reset general */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   background-color: transparent;
}

/* Transición suave al cambiar de modo */
.app-container {
  transition: background-color 0.3s ease;
}

/* Elimina solapamientos no deseados */
.content-area {
  margin: 0;
  padding: 0;
}

.main-content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Evita que elementos floten mal */
h1, h2, h3, p {
  margin: 0 0 1rem;
}
